# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
# Visual Studio files
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userprefs
*.cache
*.log
*.vspscc
*.vssscc
# testing
/coverage
[Mm]igrations/
# production
/build
appsettings.json
appsettings.Development.json
# misc
.env
.DS_Store
# .env.local
# .env.development.local
# .env.test.local
# .env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/API/obj/API.csproj.nuget.dgspec.json
backend/API/obj/API.csproj.nuget.g.props
backend/API/obj/project.assets.json
backend/API/obj/project.nuget.cache
backend/Application/obj/Application.csproj.nuget.dgspec.json
backend/Application/obj/Application.csproj.nuget.g.props
backend/Application/obj/project.assets.json
backend/Application/obj/project.nuget.cache
backend/Domain/obj/Domain.csproj.nuget.dgspec.json
backend/Domain/obj/Domain.csproj.nuget.g.props
backend/Domain/obj/project.assets.json
backend/Domain/obj/project.nuget.cache
backend/Identity/obj/Identity.csproj.nuget.dgspec.json
backend/Identity/obj/Identity.csproj.nuget.g.props
backend/Identity/obj/project.assets.json
backend/Identity/obj/project.nuget.cache
backend/Persistence/obj/Persistence.csproj.nuget.dgspec.json
backend/Persistence/obj/Persistence.csproj.nuget.g.props
backend/Persistence/obj/project.assets.json
backend/Persistence/obj/project.nuget.cache
