@font-face {
  font-family: 'Bahij';
  src: url('/fonts/Bahij.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Bahij', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 { margin: 0; }
nav button {
    margin-left: 10px;
    padding: 8px 12px;
    background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;
}
nav button:hover { background-color: #2980b9; }

main { padding: 20px; }
.section { margin-bottom: 50px; }
form input, form select { padding: 5px; margin-right: 5px; margin-bottom: 5px; }
form button { padding: 5px 10px; }
table { width: 100%; border-collapse: collapse; margin-top: 10px; }
table, th, td { border: 1px solid #ccc; }
th, td { padding: 8px; text-align: left; }

