.custom-data-table {
  border-collapse: collapse;
  border: 1px solid #ddd; /* border for the entire table */
}

.custom-data-table .rdt_Table {
  border-collapse: collapse;
  border: none; /* remove border from the main table */
}
.custom-data-table .rdt_TableRow
 {
  border-bottom: 1px solid #ddd; /* bottom border for table rows */
}
.custom-data-table .rdt_TableHeadRow{
  border-bottom: 1px solid #ddd; 
  background-color: lightgray;
  font-weight: bold;
  font-size: 14px;
}
.custom-data-table .rdt_TableCell,
.custom-data-table .rdt_TableCol {
  border-right: 1px solid #ddd; /* right border for table cells */
}

.custom-data-table .rdt_TableCell:last-child,
.custom-data-table .rdt_TableCol:last-child {
  border-right: none; /* remove right border from last cell */
}

.custom-data-table .rdt_TableHead {
  border-bottom: 2px solid #ddd; /* bottom border for table header */
}
