/* Table header styles */
.tableFixHead {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.tableFixHead th {
  position: sticky;
  top: 0;
  background-color: #153a81;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  text-align: right;
}

/* Table row styles */
.table-hover tbody tr:hover {
  background-color: #f5f5f5;
}

/* Table cell styles */
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table td {
  border: 1px solid #ddd;
  padding: 5px !important;
}

/* Dropdown button styles */
.dropdown-button-custom {
  border: none;
  background: transparent;
  padding: 0;
}

.dropdown-item-custom {
  padding: 0.25rem 1rem;
}

/* Pagination styles */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
}

.pagination button.active {
  background-color: #153a81;
  color: white;
}

/* Search input styles */
.search-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Per page select styles */
.per-page-select {
  width: 70%;
  height: 38px;
  box-sizing: border-box;
  font-size: 1.2rem;
  color: #153a81;
  font-weight: bold;
}

/* Badge styles */
.badge-warning {
  background-color: #ffc107;
  color: black;
}

.badge-success {
  background-color: #28a745;
  color: white;
}

/* Image styles */
.company-icon {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 5px;
}

.table-responsive {
  max-width: 100%;
  overflow-x: hidden;
}

/* Set a fixed width for columns if needed */
.table th,
.table td {
  white-space: nowrap; /* Prevent text wrapping */
  min-width: 120px; /* Adjust as needed */
}

.form-label {
  font-weight: bold !important;
}
